@media (max-width: 1600px){
    #page1 img{
        width: 850px;
        height: 800px;
    }
}

@media (max-width: 1440px){
    #containerTexteQuiSommesNous{
        width: 600px;
    }

    /*-------------- CRM ---------------*/

    #titrePourquoiCRM{
        width: 100%;
    }

    #containerVignettePourquoiNotreCRM{
        width: 100%;
    }

    .vignettePourquoiNotreCRM{
        width: 70%;
        margin-right: 0;
        float: right;
    }

    /***************** Analyse comportemental ****************/

    #containerSolutionAnalyseComportemental{
        width: 80%;
        flex-wrap: wrap;
    }

    #containerSolutionAnalyseComportemental img{
        width: 300px;
    }

    #containerTextePourquoiNotreCRM{
        margin-top: 50px;
    }

    #containerBackgroundCRM{
        margin-top: 100px;
    }
}

@media (max-width: 1280px){
    #page1 img{
        width: 650px;
        height: 600px;
    }

    #containerOnglet{
        width: 60%;
    }
    #containerOnglet p:nth-child(4){
        margin-right: 20px;
    }

    .containerTitreIllustration{
        margin-bottom: 50px;
    }

    #containerTitrePage1{
        margin-top: 80px;
    }

    #containerTitrePage1 h2{
        font-size: 30px;
    }

    #containerTitrePage1 p{
        font-size: 23px;
    }

    #containerTitre p{
        width: 65%;
        font-size: 30px;
    }

    .vignette{
        width: 320px;
    }

    .vignette img{
        width: 200px;
        height: 200px;
    }

    .vignette h3{
        font-size: 25px;
    }

    .vignette p{
        font-size: 20px;
    }

    #containerTexteQuiSommesNous{
        width: 60%;
        margin-top: 50px;
    }

    #containerTexteQuiSommesNous p{
        font-size: 25px;
    }


    #containerQuiSommesNous img{
        width: 425px;
        height: 425px;
    }

    /*------------- Génération de lead ------------*/

    #containerVignetteGenerationDeLead{
        flex-wrap: wrap;
    }

    .vignetteGenerationDeLead{
        margin-top: 20px;
    }


}

@media (max-width: 1012px){

}

@media (max-width: 1000px){
    #containerOnglet{
        display: none;
    }

    #navbar{
        justify-content: center;
    }

    #logoSoleadNavbar{
        margin-left: 0;
    }

    #page1{
        flex-direction: column;
    }

    #page1 img{
        width: 100%;
        height: 100%;
        margin-top: 100px;
    }

    #containerTitrePage1{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    #containerTitrePage1 h2{
        width: 100%;
        margin-top: 150px;
    }

    #containerTitrePage1 p{
        width: 100%;
        margin-top: 20px;
    }

    #containerTitre h2{
        width: 100%;
        margin-top: 100px;
    }

    #containerVignette1{
        width: 95%;
    }

    .vignette h3{
        font-size: 20px;
    }

    .vignette p{
        font-size: 16px;
    }

    #containerTitreSolution p{
        width: 70%;
    }

    #containerQuiSommesNous img{
        width: 250px;
        height: 250px;
    }

    #containerTexteQuiSommesNous h2{
        font-size: 20px;
    }

    #containerTexteQuiSommesNous p{
        font-size: 16px;
    }

    #containerTexteQuiSommesNous{
        margin-top: 20px;
    }

    #containerTexteQuiSommesNous .btn{
        width: 150px;
        height: 45px;
        font-size: 14px;
    }

    #containerReseauxSociaux{
        width: 100%;
    }

    #containerIllustrationReseaux{
        width: 100%;
        background-size: contain;
    }

    #containerTitreIllustration h2{
        width: 80%;
    }

    #containerIllustrationReseaux img{
        width: 120px;
        margin-top: 50px;
    }
}

@media (max-width: 1090px){

    #containerReseauxSociaux img{
        width: 10%;
    }

    #containerIllustrationReseaux img{
        width: 20%;
    }

    #containerReseauxSociaux{
        margin-bottom: 0;
    }

    footer{
        flex-wrap: wrap;
        border-bottom: none;
        margin-top: 50px;
    }

    #containerAutreSolutionReseau{
        width: 40%;
    }

    #containerReseau{
        width: 100%;
        margin-top: 50px;
    }

    /*-------------Qui sommes nous --------------*/

    .containerTexte h2{
        width: 100%;
        font-size: 20px;
        margin-top: 30px;
    }

    .containerTexte p{
        width: 100%;
        font-size: 15px;
    }

    .imageIllustrationHeader{
        width: 50%;
        height: 300px;
    }

    #containerTitreMission{
        width: 90%;
        margin-top: 50px;
    }

    #containerTitreMission h2{
        font-size: 25px;
    }

    #containerTitreMission p{
        font-size: 18px;
    }

    #containerNosServicesGenerationDeLead{
        width: 90%;
        margin-top: 50px;
    }

    #containerNosServicesGenerationDeLead h2{
        font-size: 25px;
    }

    #containerNosServicesGenerationDeLead p{
        font-size: 18px;
    }

    .containerMissionTexte h3{
        font-size: 20px;
    }

    .containerMissionTexte strong{
        font-size: 80px;
    }

    .containerMissionTexte p{
        font-size: 15px;
    }

    #containerMission{
        width: 90%;

    }

    #containerTitreLesVisagesDeSoleadmedia{
        width: 80%;
    }

    #containerTitreLesVisagesDeSoleadmedia h2{
        font-size: 25px;
    }

    #containerTitreLesVisagesDeSoleadmedia p{
        font-size: 18px;
    }

    .containerLesVisagesDeSoleadmedia{
        width: 90%;
    }

    .containerLesVisagesDeSoleadmedia h3{
        font-size: 25px;
        margin-left: 50px;
    }

    .containerLesVisagesDeSoleadmedia p{
        font-size: 20px;
        margin-left: 50px;
    }

    .containerLesVisagesDeSoleadmedia img{
        width: 50%;
        height: 50%;
    }

    .containerLesVisagesDeSoleadmediaDroite{
        width: 90%;
    }

    .containerLesVisagesDeSoleadmediaDroite h3{
        font-size: 25px;
        margin-left: 50px;
    }

    .containerLesVisagesDeSoleadmediaDroite p{
        font-size: 20px;
        margin-left: 50px;
    }

    .containerLesVisagesDeSoleadmediaDroite img{
        width: 50%;
        height: 50%;
    }

    /*---------------- Génération de lead --------------*/

    .containerTitreContactezNous{
        width: 95%;
    }


    /*-------------------Fichier B2B------------------*/

    #imageBaseB2B{
        display: none;
    }

    .vignettePartoutDansLeMonde{
        margin: 0 auto;
        width: 250px;
        font-size: 22px;
        padding-top:40px ;
    }

    #containerTexteFichier h2{
        font-size: 20px;
    }

    #containerTexteFichier p{
        font-size: 15px;
    }

    #containerContenuFichier{
        margin: 50px auto;
    }

    #titrePartoutDansLeMonde{
        font-size: 20px;
        margin-bottom: 50px;
    }

    /*----------------- Analyse -----------------*/

    #containerSolutionAnalyseComportemental{
        width: 80%;
        flex-wrap: wrap;
    }

    #containerSolutionAnalyseComportemental img{
        width: 300px;
        margin: 0 auto;
    }

    /*---------------------- Contact ----------------------*/

    #maps{
        display: none;
    }

    #containerTexte{
        width: 80%;
        margin: 50px auto;
        text-align: center;
    }

    #containerFormulaire form{
        margin: 0 auto;
    }

    #illustrationCheminCRM{
        display: none;
    }

}


@media (max-width: 645px){

    .imageIllustrationHeader{
        display: none;
    }

    #containerVignette1{
        width: 80%;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .vignette{
        width: 100%;
        height: 450px;
    }

    #containerIllustrationTitre{
        width: 95%;
    }

    #containerIllustrationTitre img{
        padding-top: 100px;
        width: 10%;
    }

    #containerTitre h2{
        margin-top: 80px;
    }

    #containerTitre p{
        width: 95%;
        font-size: 20px;
    }

    #containerQuiSommesNous img{
        display: none;
    }

    #containerTexteQuiSommesNous{
        width: 100%;
    }

    #containerReseauxSociaux{
        width: 95%;
    }

    #containerIllustrationReseaux {
        height: 220px;
    }

    #containerTitreAnalyseComportementale{
        width: 80%;
    }

    #containerTitreAnalyseComportementale h2{
        font-size: 20px;
    }

    #containerTitreAnalyseComportementale p{
        font-size: 15px;
    }

    #containerTextePourquoiNotreCRM h3{
        font-size: 20px;
    }

    #containerTextePourquoiNotreCRM p{
        font-size: 15px;
    }
}

@media (max-width: 494px){

    #containerTitrePage1{
        width: 90%;
    }

    #containerTitrePage1 h2 {
        font-size: 25px;
        margin-top: 100px;
    }

    #containerTitrePage1 p {
        font-size: 18px;
    }

    #page1 img{
        height: 50%;
        margin-top: 50px;
    }

    #containerTitreIllustration h2{
        font-size: 20px;
    }

    #containerLogoContact img{
        width: 100%;
        margin: 30px auto;
    }

    #containerNosSolutionsFooter{
        display: none;
    }

    #containerAutreSolutionReseau{
        display: none;
    }

    footer{
        margin-bottom: 0;
    }

    .imageIllustrationHeader{
        display: none;
    }

    #containerMission{
        flex-direction: column;
    }

    .containerMissionTexte{
        width: 100%;
    }

    .containerMissionTexte{
        width: 100%;
    }

    .containerMissionTexte:nth-child(2){
        margin-top: 70px;
    }

    .containerMissionTexte:nth-child(3){
        margin-left: 0;
    }

    .containerLesVisagesDeSoleadmedia{
        flex-direction: column;
        margin-top: 50px;
    }

    .containerLesVisagesDeSoleadmediaDroite{
        flex-direction: column;
        margin-top: 50px;
    }

    .containerLesVisagesDeSoleadmedia h3{
        margin-top: 20px;
    }

    .containerLesVisagesDeSoleadmediaDroite h3{
        margin-top: 20px;
    }

    #containerTexte h2{
        font-size: 20px;
    }

    #containerTexte p{
        font-size: 15px;
    }
}



